In [2]:
# Practice Functions in Python
# Q1 Simple Function
import datetime
def greet_with_time(name):
    current_time=datetime.datetime.now()
    print(f"Hello {name}, the current time is {current_time}.")
greet_with_time("AYESHA")

Hello AYESHA, the current time is 2024-11-28 04:46:36.082847.

In [4]:
# Q2 Function with Multiple Parameters
def calculate_average(num1,num2,num3):
    average=(num1+num2+num3)/3
    return average
result=calculate_average(23,98,43)
print(result)

54.666666666666664

In [6]:
# Q3 Default Argument
def calculate_discount(price, percentage):
    discount=price-(price*percentage)
    return discount
price=calculate_discount(1007,12/100)
print(price)

886.16

In [8]:
# Q4 Keyword Arguments
def print_info(name,age,city):
    print(f"Name: {name}")
    print(f"Age: {age}")
    print(f"City: {city}")
print_info(name="Ayesha",age=19,city="Lodhran")

Name: Ayesha
Age: 19
City: Lodhran

In [10]:
# Q5 Variable-Length Arguments
def find_max(*num):
    value=max(num)
    return value
maximun_value=find_max(4,39,76,86,32)
print(maximun_value)

86

In [14]:
# Q6 Recursive Function
def factorial(n):
    if n<0:
        print("Factorial not defined for negative number.")
    elif n==0 or n==1:
        return 1
    else:
        return n*factorial(n-1)
result=factorial(23)
print(result)

25852016738884976640000

In [16]:
def apply_function(func, numbers):
    list=[]
    for num in numbers:
        data=func(num)
        list.append(data)
    return list
def cube(i):
    return i**3
numbers=[12,23,35,47,51]
numbers_cubes=apply_function(cube, numbers)
print(numbers_cubes)

[1728, 12167, 42875, 103823, 132651]

In [18]:
# Q8 Lambda Function
square = lambda x: x ** 2
result=square(9)
print(result)

81

In [20]:
def apply_operation(func, numbers):
    list=[]
    for num in numbers:
        data=func(num)
        list.append(data)
    return list
def square(i):
    return i**2
numbers=[1,54,37,50]
numbers_squares=apply_operation(square,numbers)
print(numbers_squares)

[1, 2916, 1369, 2500]